mat-form-field {
  min-height: 45px !important;
  display: flex;
  align-items: center;
  width: 100px;
  padding-right: 10px;

  input {
    width: 100px;
  }
  p {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    display: flex;
    height: 100%;
    align-items: center;
  }
}
