input {
  width: 100%;
  border: 0px solid;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  padding: 0px;
}

input:focus-visible {
  outline: #c1c1c1 auto 1px;
  margin: 0px;
  padding: 4px;
}
